* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.container {
  background-color: lightgray;
  padding: 15px;
  height: 150px;
  border-radius: 1rem;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

